*{
    margin: 0;
    padding:0;
    font-family:Trebuchet MS;
}

/* delete this header section to reveal the lorem ipsum cards! */
/* header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(background3.jpg);
    height: 200vh;
    background-size: cover;
    background-position: 25% 75%;
    background-attachment: fixed;
    background-repeat: no-repeat;
} */

.topNav{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

.topNav li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border:1px solid transparent;
    transition: 0.6s ease;
}


.nav-pills li {
    margin-left: 10 px;
    font-size: medium;
} 

ul li.activate a{
    background-color:  rgb(238, 48, 37);
    /* background-color: #57BAE0; */
    /* background-color: lightcyan; */
    color: black;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #000;
    background-color: #ffffff;
}

/* .active{
    background-color: white;
    color: black;
} */

ul li a:hover{
    background-color: white;
    color: black;
}

/* .logo img{
    float: left;
    width:300px;
    height: auto;
} */

.main{
    max-width: 1200px;
    margin: auto;
}

/* .title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
} */

.about-text {
    position: relative;
    text-align: center;
    padding-top: 25px;
    /* top: 25%; */
    left: 50%;
    transform: translate(-50%, 50%);
    color: black;
}

.about-text-content{
    position: relative;
    top: 40%;
    left: 75%;
    transform: translate(-50%, 25%);
    color: black;
    font-size: medium;
}

.title h1{
    color: black;
    font-size: 70px;
    text-align: center;
}

/* .title h3{
    color: white;
} */

.aboutLMNTL{
    color: black;
    position: absolute;
    top: 35%;
    left: 10%;
}

.aboutLMNTL ul{
    font-size: 20px;
}

.indent{
    margin-left: 1em;
}

.navbar-style{
    box-shadow: 0 5px 10px #efefef;
    text-transform: uppercase;
}

.logo{
    height: 60px;
    padding:2px 10px;
}

.icon-bar{
    background: rgb(238, 48, 37);
}